* {
    user-select: none;
}
body {
    touch-action: pan-x pan-y;
    font-size: 50px;
    font-family: monospace;
    padding: 0px;
    margin: 0px;
    user-select: none;
}

/* -------------- Main View ----------- */
#qrcode-frame {
    margin: 5vw;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #bdbdbd, -2px -2px 12px #bdbdbd;
    display: flex;
    align-items: flex-end;
}


#qrcode img {
    padding: 5rem;
    width: 20rem;
    height: 20rem;
}

#logo-frame {
    display: flex;
    align-items: center;
    font-weight: bold;
}
#logo {
    background-color: #f73667;
    color: white;
    font-size: 5.5rem;
    padding: 5px;
    border-radius: 20px;
    margin-right: 1.5rem;
}
#logo-text {
    font-size: 4.2rem;
    font-family: serif;
}

#user-id::before {
    content: "ID: #";
}
#user-id {
    font-size: 4rem;
    margin-left: auto;
    padding: 5rem 5rem 5rem 2rem;
}


/* ------------- balance ------------ */
#balance-frame {
    text-align: center;
    margin: 10vw;
    padding: 3rem;
    background-color: #f2ebed;
    border-radius: 20px;
}

#balance-header {
    display: flex;
    align-items: center;
    padding-bottom: 1.4rem;
    border-bottom: 5px #b0b0b0 solid;
}
#balance-title-en {
    font-size: 1em;
    padding: 0;
    margin: 0;
}
#balance-title-jp {
    color: #545454;
    font-size: 0.8em;
    text-align: left;
}

#balance-icon {
    font-size: 6.5rem;
    color: #f73667;
    margin: 0 2rem;
}

#balance::after {
    content: "PERICA";
    font-size: 3rem;
    margin-left: 3rem;
}
#balance {
    font-family: monospace;
    font-size: 1.5em;
    text-align: right;
    margin: 3rem 0 0 0;
}

/* -------------- Menu Bar ------------ */
#menubar {
    text-align: center;
    background-color: #ff7a7a;
    border-radius: 10rem;
    color: white;
    padding: 2rem;
    margin: 0 2rem;
    position: fixed;
    z-index: 100;
    bottom: 3rem;
    left: 0;
    right: 0;
}
.menu-box {
    text-align: center;
}
.menu-icon {
    font-size: 7rem;
}
.menu-label {
    margin: 0px;
    font-size: 2.5rem;
    font-weight: bold;
}
#menu-scan {
    display: none;
}


